body {
  background-image: url(/binary.jpg);
  background-size: cover;
}
.container {
  background-image: url(/security.jpg);
  margin: 0 auto;
  width: 20%;
  height: 40%;
  border: 3px solid #003cff;
  margin-top: 27%;
  text-align: center;
  justify-content: center;
  padding: 2%;
  border-radius: 20%;

  /* position: relative; */
}
span {
  background-color: black;
  color: red;
  padding: 2%;
  margin: 0% 20%;
}
h2 {
  background-color: black;
  color: green;
}
button {
  margin: 10%;

  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
